body {
  font-size: 16px;
  font-family: Vardana, sans-serif;
  color:#333;
  margin: 0;
  background-color: #000;
}

.container {
  width: 820px;
  margin: 58px auto;
  padding: 350px 0 ;
}

.backgrd {
  /* padding-top: auto; */
  /* padding-bottom: auto; */
  /* padding-left: auto;
  padding-right: auto; */
  color:#fff;
  background:url(../img/theDivision2_20190406_132618.png);
  /* background-size: cover; */
  max-width: 100%;
  height: auto;
}

.section-title {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 350px;
  margin-top: 0;
}

.section-title::after {
  content: attr(data-sub);
  display: block;
  font-size: 25px;
  color: #aaa;
  padding-top: 10px;
}

.btn {
  display: inline-block;
  width: 290px;
  background: #fff;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
  border-radius: 5px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1.0;
}

/* header */
#fixed {
  position: fixed;
  /*基準を画面の左上に*/
  top: 0;
  left: 0;
  /*余白が入らないように*/
  margin: 0;
   /*以下装飾*/
  width: 100%;
  background-color: #333;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

nav {
  position: relative;
}

#nav {
  list-style: none;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

#nav li {
  width: 100px;
  text-align: center;
  background-color: #333;
  float: left;
  height: 55px;
  line-height: 55px;
  margin-right: 2px;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  /* position: relative; */
}

header ul {
 margin-top: 0;
 margin-bottom: 0;
}

header h1 {
  text-align: center;
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 8px;
  font-weight: bold; /*太字に*/
  font-size: 3em;/*サイズ2倍*/
}

header p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}


header .container {
  position: relative;
  /* background: Black; */
}


/* features */

.feature h2 {
  font-weight: normal;
  font-size: 18px;
}

.feature .desc {
  width: 360px;
}

.feature:nth-of-type(odd) .desc {
  float: right;
  padding-left: 40px;
}

.feature:nth-of-type(even) .desc {
  float: left;
  padding-right: 40px;
}

.feature:not(:last-child){
  margin-bottom: 100px;
}

.feature {
  overflow: hidden;
}

/* call-to-action */

.call-to-action {
  text-align: center;
}

.call-to-action .section-title {
  margin-bottom: 15px;
}

/* footer */

footer {
  padding: 40px;
  text-align: center;
  color: #aaa;
}

.wrap{
  width: 300px;
  margin: 0 auto;
  padding: 50px 0 100px;
  color: #fff;
  text-align: center;
}

.wrap li{
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

.wrap a{
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 5px;
  /* border-radius: 50%; */
  /* background: #3498db; */
  transition: .3s;
}
/* アイコンにマウスオーバー時の背景等 */
/* .wrap a:hover{
  background: #196090;
} */
/* .wrap a:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  color: #aaa;
  font-size: 30px;
  text-align: center;
  line-height: 1;
} */
.wrap a span{
  position: absolute;
  opacity: 0;
  top: -50px;
  left: -20px;
  width: 60px;
  padding: 10px;
  border-radius: 2px;
  background: #4989ff;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  transition: .3s;
}
.wrap a span:after{
  position: absolute;
  top: 100%;
  left: 34px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top: 6px solid #4989ff;
  content: "";
}
.wrap a:hover span{
  opacity: 1;
  top: -40px;
}
