body {
  background-color: 000;
  position: relative;
}

/* header */
#fixed {
  position: fixed;
  /*基準を画面の左上に*/
  top: 0;
  left: 0;
  /*余白が入らないように*/
  margin: 0;
   /*以下装飾*/
  width: 100%;
  background-color: #333;
  font-size: 25px;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

nav {
  position: relative;
}

#nav {
  list-style: none;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

#nav li {
  width: 100px;
  text-align: center;
  background-color: #333;
  float: left;
  height: 55px;
  line-height: 55px;
  margin-right: 2px;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  /* position: relative; */
}

header ul {
 margin-top: 0;
 margin-bottom: 0;
}

header p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  color: #fff;
  font-size: 60px;
  text-align: center;
  margin-top: 200px;
}

h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

#massageBtn {
  margin-top: 100px;
  display: inline-block;
  padding: 1em 3em;
  text-decoration: none;
  font-size: 40px;
  color: #fff;
  background-color: transparent;
  border-radius: 2px;
  transition: .4s;
  position: absolute;
}

#massageBtn:hover {
  background: #6495ED;
}
